@model App
@{
    Layout = null;
    HtmlHelper.ClientValidationEnabled = false;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = false;

    var viewer = Html.OctacomViewer(new ViewerOptions
    {
        Language = Language,
        EnablePrint = false,
        EnableSave = false
    });
}
<!DOCTYPE html>
<html dir="ltr" mozdisallowselectionprint moznomarginboxes>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="google" content="notranslate">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Model.Name.ToLanguage() - @ConfigBase.Settings.Name</title>
    @viewer.Resources
</head>
<body tabindex="1" class="loadingInProgress">
    @viewer.Render()
    <script>
        function changePage(from, to) {
            if (from != 0 && to != 0) {
                to = to - from + 1;
            }

            OctacomViewer.Load({
                url: '@Url.Action("ViewerProtectedDoc", new { file = "Doc_" + DateTime.Now.ToString("yyyyMMddHHmmssFFFF") + ".pdf" })',
                data: {
                    Ref: '@Model.Ref',
                    StartPage: from,
                    TotalPages: to,
                    AppID: '@Model.ID',
                    List: @Html.Raw(Model.DocsIDJson)
                }
            });
        }

        DocumentReady(function() {
            changePage(0, 0);
        });
    </script>
</body>
</html>