@model ResetPassword
@{
    Layout = null;
}
<div id="resetPasswordModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            @using (Html.BeginForm("ResetPassword", "Auth", FormMethod.Post, new { autocomplete = "off", id = "formResetPassword" }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="@Words.Close"><span style="float:left;margin:5px 5px 0px 0px;font-size:12px;">@Words.Close</span><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">@Words.Login_ForgotPassword</h4>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(m => m.EmailAddress, Words.Login_MessagePasswordReset)
                        @Html.TextBoxFor(m => m.EmailAddress, new { maxlength = 255, @class = "form-control", placeholder = Words.Email, required = "required", @type = "email", autocomplete = "off", autofocus = "autofocus" })
                    </div>
                    <div class="alert alert-danger" id="errorPanel">
                        <span id="errorMessage"></span>
                    </div>

                    <div class="alert alert-success" id="successPanel">
                        <span id="successMessage"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Words.Close</button>
                    <input type="submit" value="@Words.Login_ResetPassword" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
</div>
