@{
    ViewBag.Title = Words.ChangePassword + " - " + ConfigBase.Settings.Name;
}
@section sidebar
{
    @Html.Partial("~/Views/Users/Sidebar.cshtml", "ChangePassword")
}
<h1>@Words.ChangePassword</h1>
<div class="row">
    <div class="col-lg-5 col-md-8 col-sm-12">
        <form>
            @Html.AntiForgeryToken()

            <div id="boxMainChangePassword">
                <div class="form-group">
                    <label for="txtCPCurrentPassword" class="control-label">@Words.Password_Current:</label>
                    <input type="password" class="form-control" id="txtCPCurrentPassword">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="txtCPNewPassword" class="control-label">@Words.Password_New:</label>
                            <input type="password" class="form-control" id="txtCPNewPassword">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="txtCPConfirmNewPassword" class="control-label">@Words.Password_ConfirmNew:</label>
                            <input type="password" class="form-control" id="txtCPConfirmNewPassword">
                        </div>
                    </div>
                </div>
                <div class="alert alert-danger" role="alert" style="display:none;" id="boxErrorChangePassword">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span id="spanErrorChangePassword"></span>
                </div>
            </div>
            <div class="alert alert-success" role="alert" style="display:none;" id="boxSuccessChangePassword">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <span id="spanSuccessChangePassword"></span>
            </div>
            <button type="button" class="btn btn-primary" id="btnChangePassword">@Words.ChangePassword</button>
        </form>
    </div>
</div>
@*
@section footer
{
    @Scripts.Render("~/content/min/js/changepassword")
}
*@